@charset "UTF-8";

:root{
    --cor0:green;
    --cor1:#005678;
    --cor2:#0080B2;
    --cor3:#FFFFFF;
    --cor4:#DBDBDB;
    --cor5:#191919;

    --font1: arial ;
}


body{

    background-image: linear-gradient(to top, var(--cor1) , var(--cor4));
    margin: -30;
    font-family: var(--font1);
    

}

header{
    background-image: linear-gradient(to bottom,var(--cor1), var(--cor2));
    padding:30px ;
    min-width: 280px;
    max-width: 1800px;
    margin: -8px;
    box-shadow: 5px 3px 10px var(--cor2);
    
    
}

header h1 {
    
    
    color: var(--cor4);
    text-align: left;
    padding-left: 30px;
    text-shadow: 3px 2px 5px var(--cor5);
    

    
}

header h2 {
    color: var(--cor4);
    font-size: 3em;
    padding: -50px;
    width: 300px;
    margin: auto;
    padding: 10px;
    text-shadow: 3px 2px 5px var(--cor5);
        
    

}

header p {
    text-shadow: 3px 2px 5px var(--cor5);
   color: var(--cor4);
    padding: 10px;
    text-align: right;
    padding-right: 30px;
    width: 350px;
    margin-left:auto;
    justify-content: flex-end;

}



nav a {
    text-decoration: none;
    margin: 15px;
    color: var(--cor4);
    box-shadow: 10px;
    
    padding: 5px;
    border-radius: 5px;
    
}

a:hover{
    text-decoration: underline;
}








