@charset "UTF-8";

:root{
    --cor0:green;
    --cor1:#005678;
    --cor2:#0080B2;
    --cor3:#FFFFFF;
    --cor4:#DBDBDB;
    --cor5:#191919;
    --cor6: #e7820f;

    --font1: arial ;
}


body{
  
    height: 100vh;  
    font-family: var(--font1);
    background-color: var(--cor5);
    

}

header{
    background-image: linear-gradient(to bottom,var(--cor1), var(--cor2), var(--cor1));
    padding:30px ;
    min-width: 280px;
    max-width: 2000px;
    margin: -8px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.267);
    border-radius: 0px 0px 10px 10px;
    
    
}

header h2 {
    
    
    color: var(--cor4);
    text-align: left;
    padding-left: 30px;
    text-shadow: 3px 2px 5px var(--cor5);
    

    
}

header h1 {
    color: var(--cor4);
    font-size: 3em;
    padding: -50px;
    font-size: 100px;
    width: 610px;
    margin: auto;
    padding: 10px;
    text-shadow: 3px 2px 5px var(--cor5);
    background-color: #e7820f;
        
    

}

header p {
    text-shadow: 3px 2px 5px var(--cor5);
   color: var(--cor4);
    
    text-align: right;
    padding-right: 30px;
    width: 350px;
    margin-left:auto;
    justify-content: flex-end;

}
nav{
    background-image: linear-gradient(to bottom, var(--cor2),var(--cor6), var(--cor4));
    padding: 50px;
    border-radius: 5% 50px;
    

    margin: 15px auto ;
    width: 250px;
    text-align: center;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.267);
}



nav a {
    text-decoration: none;
    box-shadow: 10px;          
    border-radius: 5px;
    
    
   
}

a:hover{

  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.226);
  
  transition-duration: 0.5s;
  margin-top: 30px;

  
  

    
}
div{
    margin: auto;
    width: 400px;
    padding: 10px;
}

div h1{
    text-align: center;
}

main {
    
    width: 500px;
   
    
    border-radius: 10px;
    margin: left;
    height: 500px;


}

main h2 {
    
    text-align: left;
    margin: 10px;
    padding: 10px;

    
}













