@charset "UTF-8";

:root{
    --cor0:green;
    --cor1:#005678;
    --cor2:#0080B2;
    --cor3:#FFFFFF;
    --cor4:#DBDBDB;
    --cor5:#191919;
    --cor6: #ee40ee;

    --font1: arial, sans-serif ;
    --font2: dev; 
    --font3: moderna;
    --font4: misterio;
    
}

@font-face {
    font-family:dev;
    src: url(fontes/Develuz.ttf);
}
@font-face {
    font-family:moderna ;
    src: url(fontes/Devlin.ttf);
}



body{
  
    height: 100vh;  
    font-family: var(--font1);
    background-image: url(imagens/fundo-1.jpg);
   background-position: center, center;
   background-size: cover;
   background-attachment: fixed;


}

header{
    background-image: linear-gradient(to bottom,var(--cor1), var(--cor2), var(--cor6));
    padding:30px ;
    min-width: 280px;
    max-width: 2000px;
    margin: -8px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.267);
    border-radius: 0px 0px 10px 10px;
    
    
}

header h2 {
    
    font-family: var(--font3);
    color: var(--cor4);
    text-align: left;
    padding-left: 30px;
    text-shadow: 3px 2px 5px var(--cor5);  
    border-radius: 10px;   
}

header h2:hover{
    height: 30px;
    
    padding: 5px;
    width: 330px;
    text-align: center;
    border-radius: 10px;
    color: var(--cor4);
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor6));
    transition-duration: 0.5s;
}

header h1 {
    font-family: var(--font3);
    color: var(--cor4);
    font-size: 2em;

    font-size: 100px;
    max-width: 610px;
    text-align: center;
    margin: auto;

    text-shadow: 3px 2px 5px var(--cor5);       
    

}

h1:hover{
    text-shadow: 10px 10px 120px var(--cor6);
   transition-duration: 0.5s;
   
}

header p {
    text-shadow: 3px 2px 5px var(--cor5);
   color: var(--cor4);
   font-family: var(--font1);
    
    text-align: right;
    padding-right: 30px;
    width: 350px;
    margin-left:auto;
    justify-content: flex-end;

}
nav{
    background-image: linear-gradient(to bottom, var(--cor6),var(--cor2), var(--cor2));
    padding: 50px;
    border-radius: 5% 50px;
    

    margin: 15px auto ;
    width: 250px;
    text-align: center;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.267);
}



nav a {
    text-decoration: none;
    box-shadow: 10px;          
    border-radius: 5px;
    
    
   
}

a:hover{

  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.226);
  
  transition-duration: 0.5s;
  margin-top: 30px;
 

  
  

    
}
section{
    margin: auto;
    width: 400px;
    font-family: var(--font3);
    background-image: linear-gradient(to top, var(--cor6), var(--cor2));
    border-radius: 10px;
    
   
}

section h1{
    text-align: center;
    padding: 5px;
   
}



main h2 {
    
    text-align: left;
    margin: 10px;
    padding: 10px;

    
}













