@charset "UTF-8";

:root{
    --cor0:green;
    --cor1:#005678;
    --cor2:#0080B2;
    --cor3:#FFFFFF;
    --cor4:#DBDBDB;
    --cor5:#191919;
    --cor6: #ee40ee;

    --font1: arial, sans-serif ;
    --font2: dev; 
    --font3: moderna;
    --font4: misterio;
    
}

@font-face {
    font-family:dev;
    src: url(fontes/Develuz.ttf);
}
@font-face {
    font-family:moderna ;
    src: url(fontes/Devlin.ttf);
}



body{
  
    height: 100vh;  
    font-family: var(--font1);
    background-image: url(imagens/fundo-1.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;


}

header h2 {
  
  font-family: var(--font1);
  color: var(--cor4);
  margin-left: 30px;
  padding-top: 30px;
}



header h1 {
    font-family: var(--font3);
    color: var(--cor4);
    font-size: 2em;

    font-size: 100px;
    max-width: 610px;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;

    text-shadow: 3px 2px 5px var(--cor5);       
    

}

h1:hover{
    text-shadow: 10px 10px 120px var(--cor6);
   transition-duration: 0.5s;
   
}

header p {
    text-shadow: 3px 2px 5px var(--cor5);
   color: var(--cor4);
   font-family: var(--font1);
   padding-bottom: 20px;

    
    text-align: right;
    padding-right: 100px;
    width: 350px;
    margin-left:auto;
    justify-content: flex-end;

}
nav{
    background-image: linear-gradient(to bottom, var(--cor6),var(--cor2), var(--cor2));
    padding: 50px;
    border-radius: 10px 50px;
    

    margin: 15px auto ;
    width: 300px;
    text-align: center;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.267);
}

.github{
  background-image: linear-gradient(to bottom, var(--cor6),var(--cor2), var(--cor2));
    padding: 50px;
    border-radius: 5% 50px;
    

    margin: 15px auto ;
    width: 250px;
    text-align: center;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.267);

}

.linkedin{
  background-image: linear-gradient(to bottom, var(--cor6),var(--cor2), var(--cor2));
    padding: 50px;
    border-radius: 5% 50px;
    

    margin:auto ;
    width: 320px;
    text-align: center;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.267);
}








  
  

    

section{
    margin: auto;
    width: 400px;
    font-family: var(--font3);
    background-image: linear-gradient(to top, var(--cor6), var(--cor2));
    border-radius: 10px;
    

}

#projetos{
  background-color: var(--cor3);
  max-height: 220vh;
  min-width: 280px;
  max-width: 100vw;  
  margin-top: 30px;
  border-radius: 15px;
  text-align: center , bottom;
  font-size: 1em; 
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
}



#projetos img{
  max-width: 35vw;
  
  display:block ;
  margin: auto;
}































































































/* inicio do elemeto do site */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: var(--font2) ;
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
    
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }


  section#espaco{

    border-radius: 30px;
   
   

  }

  /*Fim do elemento do site*/













